[Desktop Entry]
Version=1.0
Name=Evernote
Exec=/usr/bin/google-chrome-stable --profile-directory=Evernote --no-first-run --no-default-browser-check --class=Evernote www.evernote.com
Terminal=false
Icon=evernote
Type=Application
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml_xml;image/webp;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;
