[Desktop Entry]
Version=1.0
Name=Facebook
Exec=/usr/bin/google-chrome-stable --profile-directory=Facebook --no-first-run --no-default-browser-check --class=Facebook www.facebook.com
Terminal=false
Icon=facebook
Type=Application
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml_xml;image/webp;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;
