[Desktop Entry]
Version=1.0
Name=Private
Exec=/usr/bin/google-chrome-stable --profile-directory=.config/google-chrome-private --proxy-server=socks5://localhost:58080 --incognito --no-first-run --no-default-browser-check --class=Google %U
Terminal=false
Icon=private
Type=Application
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml_xml;image/webp;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;
