[Desktop Entry]
Version=1.0
Name=Slack
Exec=/usr/bin/google-chrome-stable --profile-directory=Slack --no-first-run --no-default-browser-check --class=Slack
Terminal=false
Icon=slack
Type=Application
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml_xml;image/webp;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;
